/* color */
.c296{color: #2C363B;}
.c298{color: #2C363B;}

.c272{color: #3C9800;}
.c022{color: #84C13D;}
.c107{color: #84C13D; opacity: 0.6;}
.c100{color: #F0FAE5;}
.c273{color: #F9FdF4;}



/* background-color */
.bg296{background: #2C363B;}
.bg298{background: #2C363B;}

.bg272{background: #3C9800;}
.bg022{background: #84C13D;}
.bg107{background: #84C13D; opacity: 0.6;}
.bg100{background: #F0FAE5;}
.bg273{background: #F9FdF4;}