/* color */
.c296{color: #0E1A49;}
.c298{color: #0E1A49;}

.c272{color: #FC6E00;}
.c022{color: #FFAA1A;}
.c107{color: #FFAA1A; opacity: 0.7;}
.c100{color: #FFF4E5;}
.c273{color: #FFF9F0;}



/* background-color */
.bg296{background: #0E1A49;}
.bg298{background: #0E1A49;}

.bg272{background: #FC6E00;}
.bg022{background: #FFAA1A;}
.bg107{background: #FFAA1A; opacity: 0.7;}
.bg100{background: #FFF4E5;}
.bg273{background: #FFF9F0;}