/* 상단 흰색부분 */
.result_bg{background: #fdf6d9; width: 100%; height: 100px; position: absolute; z-index: -1;}
.content_wrap{position: relative; }
.border_round{border-top-left-radius: 8.3333vw; border-top-right-radius: 8.3333vw; background: #fff;}


/* 대상 */
.winner_list{display: flex;position: absolute;bottom: 8.3333vw;left: 50%;transform: translateX(-50%);justify-content: center;max-width: 77.7778vw;width: 100%;}
.winner{text-align: center;color: #999;max-width: 24.4444vw;width: 100%;margin-right: 2.2222vw;}
.winner:last-child{margin-right: 0;}



/* 최우수상, 우수상, 장려상 */
.container {position: relative;}
.container:nth-child(1)
.content_img{padding: 8.3333vw 5.5556vw 2.7778vw;}
.container:last-child{margin-bottom: 6.6667vw;}
.winner_list.type2{position: inherit; display: flex; justify-content: space-between; bottom: 0; left: 0; transform: translateX(0); max-width: 88.8889vw;}
.list_wrap{margin: 0 5.5556vw;}
.sb{display: flex; justify-content: space-between; max-width: 40.2778vw; width: 100%; margin-bottom: 2.7778vw;}
.sb:last-child{margin-bottom: 0;}.left, .right{max-width: 40.2778vw; width: 100%;}
.sb p:last-child{font-weight: bold;}



/* sub_tab */
.sub_tab{display: flex;justify-content: space-between;width: 91.1111vw;border-radius: 2.2222vw;background: #f1f1f1;margin: 0 auto;align-items: center;margin-bottom: 5.5556vw;}
.sub_tab li {max-width: 22.7778vw;width: 100%;text-align: center;color: #999; padding: 2.5vw;}
.sub_tab li.sub_tab_list_on{background: #fff;border-radius: 2.2222vw;border: 0.2778vw solid #E9E9E9;color: #333; font-weight: 700;}


/* swiper 영역 (수정필요할수도 있음) */
.swiper-slide{width: 88.8889vw;margin: 0 auto;}
.swiper-pagination{padding : 5.5556vw 0 11.1111vw;}
.swiper-pagination-bullet{width: 1.6667vw;height: 1.6667vw;background: #B6B7B8;}
.swiper-pagination-bullet-active{background: #2C363B;width: 3.3333vw;}
.swiper{display: none;position: relative;}
.swiper_show{display: block;}
.decoration{width: 11.6667vw;position: absolute;bottom: 24%;right: 8%;}
.decoration img{filter: drop-shadow(0.5556vw 2.7778vw 2.7778vw rgb(0, 0, 0, 0.2));}
.swiper-img img{box-shadow: 0 1.1111vw 5.5556vw 0 rgba(0, 0, 0, 0.3);}
